.sub-title {
  color: #888;
  font-size: 14px;
  padding: 15px 0 9px 15px;
  text-align: center;
}
.not-square-grid .am-grid-icon {
  width: 40px;
  height: 60px;
}
.headerinfo{

  .imgheader{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
